.container {
    position: relative;
    width: min-content;
}

.durability {
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    text-align: center;
}

.amount {
    position: absolute;
    top: 0;
    right: 0.25rem;
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    text-align: center;
}

.weight {
    position: absolute;
    top: 0;
    left: 0.25rem;
    display: flex;
    align-items: center;
}

.weightIcon {
    fill: var(--light);
}

.weightText {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    text-align: center;
}