@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    font-size: 16px;

    --light: #E7E5DF;
    --disabled: #8B8984;
    --dark: #52595D;
    --darker: #2D2F30;
    --dangerous: #DD1C1A;
    --disabledDangerous: #ac1917;
    --background: rgb(56, 56, 59);

    --h0: 12rem;
    --h1: 5.75rem;
    --h2: 4rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --h5: 1rem;

    --navbar-height: 6rem;
    --item-size: 8rem;
    --max-items: 4;
}

@media (max-width: 1200px) {
    :root {
        font-size: 14px;

        --h0: 10rem;
        --h1: 4rem;
        --h2: 3rem;
        --h3: 2rem;
        --h4: 1.5rem;
        --h5: 1rem;

        --navbar-height: 5rem;
        --item-size: 6rem;
        --max-items: 3;
    }
}

@media (max-width: 875px) {
    :root {
        font-size: 14px;

        --h0: 10rem;
        --h1: 4rem;
        --h2: 3rem;
        --h3: 2rem;
        --h4: 1.5rem;
        --h5: 1rem;

        --navbar-height: 4rem;
        --item-size: 4rem;
        --max-items: 2;
    }
}

body {
    background-color: var(--background);
}