.burgerContainer {
    position: relative;
    display: flex;
    justify-content: center;    
}

.burgerName {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}