.button {
    color: var(--light);
    font-size: var(--h2);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    border: none;
}

.button:focus {
    outline: none;
}

.button:hover::before, .button:focus::before {
    content: ">";
    margin-right: 0.5rem;
}

.button:hover::after, .button:focus::after {
    content: "<";
    margin-left: 0.5rem;
}

.disabledButton {
    color: var(--disabled);
    font-size: var(--h2);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    cursor: not-allowed;
    background-color: transparent;
    border: none;
}

.dangerous {
    color: var(--dangerous);
}

.dangerous.disabledButton {
    color: var(--disabledDangerous);
}