.container {
    display: flex;
    height: fit-content;
}

.asset {
    width: calc(var(--item-size) / 4);
    height: calc(var(--item-size) / 4);
}

.craftingItemContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}