.container {
    display: flex;
    height: fit-content;
}

.craftingItemContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.craftingItemText {
    font-size: var(--h4);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}