.container {
    display: flex;
    height: fit-content;
}

.craftingItemContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}