.input {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--light);
    padding: 0.5rem 1rem;
    flex-grow: 1;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}