.container {
    background-color: var(--darker);
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
    align-self: start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.close {
    fill: var(--light);
    cursor: pointer;
}

.itemContainer {
    background-color: var(--dark);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-auto-rows: min-content;
    gap: 1rem;
}

.text {
    font-size: var(--h4);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}