.container {
    background-color: var(--darker);
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
    align-self: start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    fill: var(--light);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.itemContainer {
    background-color: var(--dark);
    padding: 1rem;
}