.link {
    cursor: pointer;
}

.link:focus {
    outline: none;
}

.link:hover::before, .link:focus::before {
    content: ">";
    margin-right: 0.5rem;
}

.link:hover::after, .link:focus::after {
    content: "<";
    margin-left: 0.5rem;
}

.disabledLink {
    color: var(--disabled);
    cursor: not-allowed;
}