.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darker);
    height: var(--navbar-height);
    box-sizing: border-box;
}

.homeContainer {
    flex-basis: 33%;
}

.home {
    fill: var(--light);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

.location {
    align-self: center;
    flex-basis: 33%;
    text-align: center;
}

.save {
    fill: var(--light);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

.savingContainer {
    flex-basis: 33%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.save {
    fill: var(--light);
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
