.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darker);
    height: var(--navbar-height);
    box-sizing: border-box;
}

.home {
    fill: var(--light);
    cursor: pointer;
}

.location {
    color: var(--light);
    font-family: 'VT323', monospace;
    font-size: var(--h2);
    align-self: center;
    margin: 0;
}

.save {
    fill: var(--light);
    cursor: pointer;
}

.saveText {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}