.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darker);
}

.home {
    fill: var(--light);
}

.location {
    color: var(--light);
    font-family: 'VT323', monospace;
    font-size: var(--h2);
    align-self: center;
    margin: 0;
}