.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: calc(var(--navbar-height) + 1rem);
    pointer-events: none;
    max-height: calc(100vh - var(--navbar-height) - 2rem);
    overflow-y: hidden;
}