.container {
    background-color: var(--darker);
    padding: 0.5rem;
    position: relative;
    pointer-events: auto;
}

.innerContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.close {
    fill: var(--light);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}