.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    animation: slideIn 0.5s ease-out forwards;
}

.exit {
    animation: slideOut 0.5s ease-in forwards;
}

.text {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.copy {
    fill: var(--light);
    cursor: pointer;
    transition: transform 0.2s;
}

.copy:active {
    transform: scale(0.9);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
