.container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.containerAnimated {
    animation: slideIn 0.5s ease-out forwards;
}

.exit {
    animation: slideOut 0.5s ease-in forwards;
}

.copy {
    fill: var(--light);
    cursor: pointer;
    transition: transform 0.2s;
    width: 2rem;
    height: 2rem;
}

.copy:active {
    transform: scale(0.9);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
