.text {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.h0 {
    font-size: var(--h0);
}

.h1 {
    font-size: var(--h1);
}

.h2 {
    font-size: var(--h2);
}

.h3 {
    font-size: var(--h3);
}

.h4 {
    font-size: var(--h4);
}

.h5 {
    font-size: var(--h5);
}
