.container {
    background-color: var(--darker);
    padding: 0.5rem;
    position: absolute;
    pointer-events: none;
}

.heading {
    font-size: var(--h4);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.innerContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.text {
    font-size: var(--h5);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}