.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

.text {
    color: var(--light);
    font-size: var(--h2);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}