.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
    height: 100vh;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.saveTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.saveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
