.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    padding: 8rem;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.heading {
    flex-grow: 1;
    text-align: center;
}