.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    padding: 8rem;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.heading {
    font-size: var(--h0);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    flex-grow: 1;
    margin: 0;
    color: var(--light);
}