.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    height: 100vh;
    box-sizing: border-box;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}