.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    height: 100vh;
    box-sizing: border-box;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.heading {
    font-size: var(--h1);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.settingsText {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}