.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem;
    position: relative;
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
}

.heading {
    text-align: center;
}

.transferContainer {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    padding: 0.5rem;
    gap: 1rem;
}

.transferSubContainer {
    display: flex;
    align-items: center;
}

.itemContainer {
    background-color: var(--dark);
    padding: 1rem;
}

.close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    fill: var(--light);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.money {
    fill: var(--light);
}

.sendIcon {
    fill: var(--light);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.sendIconFlipped {
    fill: var(--light);
    transform: rotate(180deg);
    cursor: pointer;
}