.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blacksmithContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    position: relative;
    background-color: var(--darker);
    margin-top: 1rem;
}

.heading {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
    text-align: center;
}

.close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    fill: var(--light);
}

.craftingContainer {
    background-color: var(--dark);
    padding: 1rem;
}

.blueprintContainer {
    background-color: var(--dark);
    padding: 1rem;
}