.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
}

.entityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    cursor: pointer;
}

.entityText {
    text-align: center;
}

.asset {
    width: calc(var(--item-size) * 4);
    height: calc(var(--item-size) * 4);
}