.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.fountainContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}

.heading {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.close {
    fill: var(--light);
}

.transferContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.transferText {
    color: var(--light);
    font-size: var(--h4);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.legendContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: 20%;
}

.innerLegendContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.legendText {
    color: var(--light);
    font-size: var(--h5);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.tutorialContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    position: relative;
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    flex-basis: 20%;
}

.innerTutorialContainer {
    background-color: var(--dark);
    padding: 0.5rem;
    list-style: none;
    margin: 0;
}

.innerTutorialContainer li {
    color: var(--light);
    font-size: var(--h5);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0.5rem 0;
}