.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.fountainContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}

.close {
    fill: var(--light);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.transferContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.legendContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: 20%;
}

.innerLegendContainer {
    background-color: var(--dark);
    padding: 0.5rem;
}

.tutorialContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    position: relative;
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    flex-basis: 30%;
}

.innerTutorialContainer {
    background-color: var(--dark);
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}