.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    height: 100vh;
    box-sizing: border-box;
}

.heading {
    font-size: var(--h1);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.saveTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.saveText {
    font-size: var(--h3);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.saveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}