.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    height: 100vh;
    box-sizing: border-box;
}

.heading {
    font-size: var(--h1);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--light);
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.send {
    fill: var(--light);
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.savesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savesLinkContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(100vh - 16rem - 18rem);
    box-sizing: border-box;
    overflow: auto;
}