.container {
    float: right;
}

.groundContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
}

.itemContainer {
    background-color: var(--dark);
    padding: 1rem;
}

.rentItemContainer {
    background-color: var(--dark);
    padding: 1rem;
}