.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: start;
}

.asset {
    width: var(--item-size);
    height: var(--item-size);
}

.recipesLeaderboardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    background-color: var(--darker);
    margin-top: 1rem;
    padding: 0.5rem;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
}

.heading {
    text-align: center;
}

.cookingContainer {
    background-color: var(--darker);
    margin-top: 1rem;
    position: relative;
    flex-grow: 0;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - var(--navbar-height) - 1rem - 1rem);
    box-sizing: border-box;
    overflow: auto;
}

.startButton {
    margin: 4rem 6rem;
}

.close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    fill: var(--light);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.ingrediencesList {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.burgerContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark);
    padding: 0.5rem;
}

.innerCookingContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark);
    padding: 0.5rem;
    justify-content: center;
}

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark);
    padding: 0.5rem;
}

.burgerName {
    text-align: center;
}

.ingredienceButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.button {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.leaderboardText {
    width: max-content;
}