.loading {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: var(--h2);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}